body{background-color:#eee;}
h1{font-family:'Roboto', sans-serif; font-weight:300;}
li{font-family:'Roboto', sans-serif;}

.body{}
.data{margin-top:50px;}

/** DYGRAPHS **/


/*Labels on the X & Y axes:*/
.dygraph-axis-label{font-family:'Roboto', sans-serif; font-weight:300;}
.dygraph-axis-label-x{}
.dygraph-axis-label-y{}
.dygraph-axis-label-y2{}

/*Chart labels*/
.dygraph-title{font-family:'Roboto', sans-serif; font-weight:300;}
.dygraph-xlabel{}
.dygraph-ylabel{}
.dygraph-y2label{}



/* BOOTSTRAP */

.col-md-1{margin:0 auto; padding:0;}
.col-md-2{margin:0 auto; padding:0;}
.col-md-4{margin:0 auto; padding:0;}
.col-md-8{margin:0 auto; padding:0;}

.navbar-brand{margin:0 auto; padding:5px 20px 0px;}
.navbar-default .navbar-brand {color: #9AB816}
.form-group {border-radius: 0}
.btn {border-radius:0}
.well {
		-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
		box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
		padding:0;
		margin:0 auto;
		margin-right:-31px;
		border-radius: 0; 
		background-color: #eee; 
		border:1px solid #ccc;
		box-shadow: 0;}

ul{margin:0 auto;list-style-type: none; -webkit-margin-before: .5em;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 10px;}

#chart{border:0px solid #ccc; padding:30px;}
#range{border:0px solid #ccc; padding:30px; padding-top:50px;}

#load{
    display: none;  
    position: absolute;  
    right: 10px;  
    top: 10px;  
    background: url(../img/ajax-loader.gif);  
    width: 43px;  
    height: 11px;  
    text-indent: -9999em;  
}

	 #menu li:hover{
	color: #9AB816;
	cursor: pointer;

